@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,800;0,900;1,100;1,700;1,800&display=swap");

:root {
    --light-color: #212529;
    --light-second-color: #212529;
    --light-background: #FFF6F4;
    --light-second-background: #E4E0E1;

    --dark-color: #909090;
    --dark-second-color: #f5f6fa;
    --dark-background: #23242D;
    --dark-second-background: #181818;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

.light {
    --main-bg-color: var(--light-background);
    --second-bg-color: var(--light-second-background);
    --main-color: var(--light-color);
    --second-color: var(--light-second-color);
    --border: .1rem solid rgba(0, 0, 0, 0.3);
}

.dark {
    --main-bg-color: var(--dark-background);
    --second-bg-color: var(--dark-second-background);
    --main-color: var(--dark-color);
    --second-color: var(--dark-second-color);
}

.light .logo-dark,
.light .light-icon {
    display: none;
}

.dark .logo-light,
.dark .dark-icon {
    display: none;
}








* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--main-bg-color);
    color: var(--main-color);
}

section {
    padding: 2rem 7%;
}









.nav-link {
    color: var(--second-color);
    font-size: 2rem;
    margin: 5px;

}

.nav-link:hover {
    opacity: 0.7;
    transition: all 0.3s ease;
}

.header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    color: var(--second-color);
}

.header .brand h2 {
    color: var(--second-color);
    font-size: 1.5rem;
}

.header .brand h2:hover {
    color: var(--second-color);
    opacity: 0.7;
    transition: all 0.3s ease;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 15px;
    color: var(--second-color);
    background-color: #DCA47C;
    padding: 7px;
    border-radius: 5px;
    font-weight: 600;
}

.header .navbar a:hover {
    color: var(--second-color);
    opacity: 0.7;
    transition: all 0.3s ease;
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    color: var(--main-color);
    background: var(--second-bg-color);
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleX(0);
    transform-origin: top;
    border-radius: 10px;
}

.header .search-form.active {
    transform: scaleX(1);

}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--second-color);
    background: var(--second-bg-color);
    padding: 1rem;
    text-transform: none;
    border-radius: 10px;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--second-color);
}

.header .search-form label:hover {
    color: var(--second-color);
}

.navbar i {
    padding-right: 3px;
}

.nav-link,
.box {
    display: inline-block;
}

.nav-link,
#cart-icon {
    display: inline-block;
}







.box {
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    position: relative;
}

.cart-count {
    position: absolute;
    background-color: rgb(182, 52, 52);
    padding: 5px;
    font-size: 7px;
    font-weight: 600;
    border-radius: 50%;
    z-index: 98;
}

.container {
    max-width: 1200px;
    padding: 4rem;
    margin: auto;
    width: 100%;
}

h2.title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: var(--second-color);
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
    justify-content: center;
    align-content: center;
}

.dress-box {
    position: relative;
    background: var(--second-bg-color);
    padding: 15px;
    border-radius: 10%;
}

.dress-box img {
    width: 100%;
    border-radius: 50%;
}

.pic {
    overflow: hidden;
}

.pic:hover img {
    border-radius: 5%;
    transform: scale(1.27);
}

.dress-img {
    transition: 0.4s;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.dress-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--second-color);
}

.dress-price {
    font-weight: 600;
    font-size: 1.3rem;
}

.add-cart {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: black;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    transition: 0.5s;
}

.add-cart:hover {
    background-color: rgb(80, 80, 80);
}

.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 400px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background: var(--second-bg-color);
    color: var(--second-color);
    box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
    z-index: 100;
}

.cart-active {
    right: 0;
    transition: 0.5s;
}

.cart-title {
    text-align: center;
    font-size: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    margin-bottom: 1rem;
    font-weight: 600;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

.cart-img {
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-dress-title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--second-color);
}

.price-box {
    display: flex;
    gap: 50px;
    font-weight: 600;
    color: var(--second-color);
}

.cart-dress-tittle {
    font-size: 1.5rem;
    font-weight: 550;
    text-transform: uppercase;
    color: var(--second-color);
}

.Qty {
    display: flex;
    align-items: center;
    color: var(--second-color);
    font-size: 1.5rem;
}

.card-quantity {
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    width: 2.4rem;
    text-align: center;
    font-size: 1.5rem;
}

.cart-remove {
    font-size: 24px;
    cursor: pointer;
}

.cart-remove:hover {
    color: rgb(182, 52, 52);
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    color: var(--second-color);
    font-size: 1.5rem;
}

.total-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.total-price {
    margin-left: 0.5rem;
    font-weight: 600;
}

.btn-buy {
    padding: 12px 18px;
    background-color: #DCA47C;
    color: var(--second-color);
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
}

#cart-close {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    cursor: pointer;
}

.brand {
    display: inline-block;
}

.brand img {
    width: 30%;
    height: 30%;
}



#containerSlider {
    margin: auto;
    width: 90%;
    text-align: center;
    padding-top: 100px;
    box-sizing: border-box;
}

#containerSlider img {
    width: 100%;
    height: 140%;
    text-align: center;
    align-content: center;
    border-radius: 20px;
}

















.slider-container {
    position: relative;
    max-width: 100%;
    margin: 50px 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.slider-wrapper {
    overflow: hidden;
    width: 100%;
}

.slider {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.card {
    background: var(--second-bg-color);
    color: var(--second-color);
    border-radius: 20px;
    margin: 0 15px;
    padding: 10px;
    text-align: center;
    width: calc(100% / 5 - 30px);
    /* Default 5 cards */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    /* Ensure cards don't shrink */
}

.card a {
    color: var(--second-color);
}

.card a:hover {
    opacity: 0.7;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product-name {
    font-weight: bold;
    font-size: 16px;
    float: left;
}

.product-price {
    color: var(--second-color);
    font-size: 24px;
    font-weight: 600;
    float: left;
}

.slider-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.title,
.SeeMore {
    display: inline-block;
}

.SeeMore {
    background: var(--second-bg-color);
    color: var(--second-color);
    font-size: 1.5rem;
    float: right;
    padding: 8px;
    font-weight: 600;
    border-radius: 10px;
}

.SeeMore:hover {
    opacity: 0.7;
    transition: all 0.3s ease;
}








#Move-topBtn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 22px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    display: none;
}

#Move-topBtn:hover {
    border-radius: 50px;
    opacity: 0.7;
}

/* Media Queries for responsiveness */
@media (max-width: 924px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

    .nav-link {
        margin: 5px;
    }

    #containerSlider img {
        height: 20rem;
    }

    .dress-title,
    .dress-price,
    .add-cart {
        font-size: 2rem;
    }

    .slick-next,
    .slick-prev {
        margin-top: 6rem;
    }

}

@media (max-width: 768px) {

    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 115%;
        right: -100%;
        background: var(--second-bg-color);
        width: 30rem;
        height: calc(100vh - 9.5rem);
        border-radius: 10px;
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }

    .slider-container {
        margin: 50px auto;
    }

    .card {
        width: calc(100% / 3 - 30px);
        /* Show 3 cards in mobile */
    }

}



@media (max-width: 480px) {

    html {
        font-size: 50%;
    }



}